.heading{
    color: rgb(20, 23, 220);
    font-size: 24px;
    font-weight: 600;
}

.imgContainer{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50px;
    margin-bottom: 16px;
    position: relative;
    content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}