*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box{
    height: 400px;
    width: 400px;
    margin: 10px;
    background-color: rgb(114, 114, 114);
}

button{
    padding: 10px 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

#mode{
    background-color: aqua;
    font-weight: 600;
}