*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: goldenrod;
    height: 1000px;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    height: 10vh;
    background-color: black;
}

.m{
    width: 50vw;
    height: 50vh;
    background-color: aqua;
    margin: auto;
}

.m1{
    height: 100px;
    width: 100px;
    background-color: brown;
    position:fixed;
}

.m2{
    height: 100px;
    width: 100px;
    background-color: brown;
    background-color: rgb(43, 200, 147);
    position:absolute;
}