*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
    background-color: gold;   
}

ul{
    height:15vh ;
    width: 100%;
    background-color: #000000;
}

ul{
    padding: 30px;
}

a{
    color: white;
    text-align: center;
    display:inline;
    padding: 0px 20px;
    font-size:2vh;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
}

main{
    color: rgb(255, 255, 255);
    z-index: 1
}

