nav{
  width: 100%;
  height: 15vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

nav ul{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-family: 20px Arial, sans-serif;
}

.hero{
  width: 100%;
  height:70vh;
  background-color: rgb(35, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.footer{
  width: 100%;
  height: 15vh;
  background-color: black;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}