.heading{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin-top: 20px;
}

.img-style {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

.user-card {
  margin: 10px;
  width: 200px;
  border: 1px solid #302d2d;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.text-wrap{
  padding: 10px;
  text-align: justify;
  margin: 0 20px;
}

.button-style {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}
