nav{
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    color: white;
}

ul{
    font-size:30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer{
    width: 100%;
    height: 15vh;
    background-color: rgb(47, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
}

.home{
    width: 100%;
    height: 70vh;
    background-color: #5bb83a;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    font-size: 9vh;
}

.about{
    width: 100%;
    height: 70vh;
    background-color: rgb(85, 145, 242);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    font-size: 9vh;
}

.contact{
    width: 100%;
    height: 70vh;
    background-color: rgb(68, 218, 213);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    font-size: 9vh;
}

a{
    text-decoration: none;
    color: aliceblue;
}

a.active{
    color: orange;
    transition: 0.3s;
}