*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    animation: round 1s infinite;
}

@keyframes round{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}
