*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 50vh;
    background-color: blue;
    display: grid;
    grid-row-gap:20px ;
    grid-gap: 20px 40px;
    grid-column-gap:20px ;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.Box1{
    grid-column: 1/3;
    grid-row: 1/3;
}

.box{
    background-color:aqua;
    border: 2px solid black;
}

