*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation: increwidth 2s linear infinite;
}

@keyframes increwidth {
    0% {
        width: 200px;
    }
    50% {
        width: 200px;
    }
    100%{
        width: 800px;
    }
}

