*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}
nav img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
ul{
    display: flex;
    gap: 100px;
    list-style: none;
    margin-left: 50px;
    font-weight: 600;
    font-size: x-large;
}
li{
    cursor: pointer;
}
li:hover{
    color: grey;
}
body{
    font-family: Arial, sans-serif;
}

header img{
    height: 400px;
    width: 100%;
}

footer{
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
    margin-top: -3px;
}

footer img{
    height: 250px;
    width: 250px;   
}

footer img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

