.footer{
    width: 100%;
    height: 15vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

h1{
    text-align: center;
    padding-top: 5vh;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}