.hero{
    width: 100%;
    height: 70vh;
    background-color: #494343;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
